<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.vividmindstudios.fourpicsclues"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>4 Pics Clues</name>

    <description>4 Pics Clues - Premium Puzzle Game</description>

    <author email="vividmindstudios@gmail.com">
        VividMind Studios
    </author>

    <content src="index.html" />

    <!-- Android SDK versions -->
    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="android-compileSdkVersion" value="35" />

    <!-- App settings -->
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="HideTitleBar" value="true" />
    <preference name="ShowTitle" value="false" />
    <preference name="BackgroundColor" value="#0b0f14" />

    <!-- In-App Purchases -->
    <plugin name="cordova-plugin-purchase" spec="^13.0.0" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    </config-file>
    <!-- Permissions -->
    <access origin="*" />
    <allow-navigation href="*" />

</widget>