<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.vividmind.fourpicsclues"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>4 Pics Clues</name>

    <description>4 Pics Clues - Premium Puzzle Game</description>

    <author email="vividmindstudios@gmail.com">
        VividMind Studios
    </author>

    <content src="index.html" />

    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="33" />

    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#0b0f14" />

    <plugin name="cordova-plugin-purchase" spec="^13.0.0" />

    <access origin="*" />
    <allow-navigation href="*" />
</widget>